<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccmedia.homework">
   <resultMap id="baord" type="com.ccmedia.homework.model.BoardDTO">
      <result property="id" column="id"/>
      <result property="sort" column="sort"/>
      <result property="title" column="title"/>
      <result property="content" column="content"/>
      <result property="createdBy" column="createdBy"/>
      <result property="YMD" column="YMD"/>
      <result property="views" column="views"/>
   </resultMap>
   
   <select id="getBoardList" parameterType="map" resultType="com.ccmedia.homework.model.BoardDTO">
          SELECT B2.* 
	      FROM ( 
	           	SELECT B.*, ROW_NUMBER() OVER(ORDER BY id) AS rnum
	           	FROM board B
	           	) B2
          WHERE B2.rnum BETWEEN #{startNum} AND #{endNum} 
           	
        
     </select>
     
     <select id="getTotalCnt" resultType="String">
     	SELECT COUNT(*) FROM board
     </select>
</mapper>