<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccmedia.homework">
   <resultMap id="baord" type="com.ccmedia.homework.model.BoardDTO">
      <result property="id" column="id"/>
      <result property="sort" column="sort"/>
      <result property="title" column="title"/>
      <result property="content" column="content"/>
      <result property="createdBy" column="createdBy"/>
      <result property="YMD" column="YMD"/>
      <result property="views" column="views"/>
   </resultMap>
   
   <select id="getBoardList" parameterType="map" resultType="com.ccmedia.homework.model.BoardDTO">
          SELECT B2.* 
	      FROM ( 
	           	SELECT B.*, ROW_NUMBER() OVER(ORDER BY id) AS rnum
	           	FROM board B
	           	) B2
          WHERE B2.rnum BETWEEN #{startNum} AND #{endNum}    
     </select>
     
     <select id="getDetailContent" parameterType="int" resultType="com.ccmedia.homework.model.BoardDTO">
          SELECT * FROM board
          WHERE id = #{boardId}
     </select>
     
     <insert id="createContent" parameterType="com.ccmedia.homework.model.BoardDTO">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT board_seq.NEXTVAL FROM dual
		</selectKey>
     	INSERT INTO BOARD
		(ID, SORT, TITLE, CONTENT, CREATEDBY, YMD, VIEWS) VALUES (#{id}, #{sort}, #{title},#{content},#{createdBy},TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS'),'0')
     </insert>
     
      <update id="updateContent" parameterType="com.ccmedia.homework.model.BoardDTO">
     	UPDATE board
     	SET sort = #{sort}, title=#{title}, content = #{content}, createdBy = #{createdBy}, YMD = TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
     	WHERE id = #{id} 
     </update>
     
     <delete id="deleteContent" parameterType="int">
     	DELETE FROM board
     	WHERE id = #{boardId}
     </delete>
     
     <select id="getTotalCnt" resultType="int">
     	SELECT COUNT(*) FROM board
     </select>
     
     <select id="getCurrentId" resultType="int">
     	SELECT MAX(id) FROM board
     </select>
     
     <update id="setViews" parameterType="int" >
     	UPDATE board
     	SET views = NVL(TO_NUMBER(views),0)+1
     	WHERE id = #{id}
     </update>
     
	 <select id="getSearchedList" parameterType="String" resultType="com.ccmedia.homework.model.BoardDTO">
          SELECT * FROM board 
          WHERE title LIKE '%'||#{searchName}||'%'    
     </select>

</mapper>